[Unit]
Description=SUSE Manager - email notification for failed service %n

[Service]
Type=oneshot
# Provide the required input parameters in an environment faile
# The content should contain these variables:
# SMTP_HOST=localhost
# SUMA_HOST=mysuma.example.com
# RECIPIENT=tesuser@example.com

EnvironmentFile=-/etc/sendemail.conf

#Change the python binary path. On SLES15 you have to use python3.6
ExecStart=/usr/bin/python3.11 /root/scripts/sendmail.py \
--server_host $SMTP_HOST \
--address_from $SUMA_HOST \
--address_to $RECIPIENT \
--mail_subject "clm_run service %i failed." \
--mail_body "%i failed."