[Unit]
Description=SUSE Manager - content lifecycle management build first stage for project %i
OnFailure=clm_run_failed@%n.service

[Service]
ExecStart=/usr/bin/mgrctl exec "python3.6 /root/scripts/clm_run.py --build --projLabel %i"
